<nav>
    <p id="logo"><span class="text-part">Best</span><span class="text-part">Blogs</span></p>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <form action="/search" method="post">
      <input type="search" name="searchWord" id="" required />
      <button type="submit" class="search-btn">Search</button>
    </form>
  </nav>